[submodule "dut/XiangShan"]
	path = dut/XiangShan
	url = https://github.com/youzi27/XiangShan.git
[submodule "dut/NutShell"]
	path = dut/NutShell
	url = https://github.com/youzi27/NutShell.git
	branch = dev-difftest
[submodule "dut/rocket-chip"]
	path = dut/rocket-chip
	url = https://github.com/youzi27/rocket-chip.git
	branch = dev-difftest
[submodule "fuzzer/generator/reg_analyzer/riscv-opcodes"]
	path = fuzzer/generator/reg_analyzer/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
	branch = master
[submodule "ref/riscv-isa-sim-adapter"]
	path = ref/riscv-isa-sim-adapter
	url = https://github.com/ra4ing/riscv-isa-sim-adapter.git
	branch = checkpoint
[submodule "ref/riscv-isa-sim"]
	path = ref/riscv-isa-sim
	url = https://github.com/youzi27/riscv-isa-sim.git
